{% extends 'base.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}<h1>{{ 'app.category.list'|trans }}</h1>{% endblock %}

{% block body %}
    {% if categories|length == 0 %}
        <div class="alert alert-warning" role="alert">
            {{ 'app.category.list.empty'|trans }} <a href="{{ path('category_create') }}" class="btn btn-warning pull-right">{{ 'app.category.create'|trans }}</a>
        </div>
    {% else %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'app.title'|trans }}</th>
                    <th>{{ 'app.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ category.title }}</td>
                        <td>
                            <a href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-success btn-sm">{{ 'app.edit'|trans }}</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
