{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>{{ 'app.todolist.welcome'|trans }}</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
            <a href="{{ path('task_create') }}" class="btn btn-success">{{ 'app.task.create'|trans }}</a>
            <a href="{{ path('task_list') }}" class="btn btn-info">{{ 'app.task.list.not.done'|trans }}</a>
            <a href="{{ path('task_finished') }}" class="btn btn-secondary">{{ 'app.task.list.done'|trans }}</a>
        </div>
    </div>
{% endblock %}
