{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image-list" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right-list-btn">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4 list-block">
            {% if app.user and user.isCreatedByUser(app.user) %}
                <div class="thumbnail-list">
                    <div class="caption">
                        <h4 class="pull-right">
                            <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                            {% if task.isDone %}<span class="glyphicon glyphicon-ok"><img src="{{ asset('img/ok-mark.png') }}" alt="ok list"></span>
                            {% else %}<span class="glyphicon glyphicon-edit"><a href="{{ path('task_edit', {'id' : task.id }) }}"><img src="{{ asset('img/edit.png') }}" alt="edit list"></a></span>
                            {% endif %}
                        </h4>
                        <div class="content-list">
                            <p>{{ task.content }}</p>
                        </div>
                    </div>
                    <div class="list-btn">
                        <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                            <button class="btn btn-success btn-sm pull-right">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                        </form>
                        <form action="{{ path('task_delete', {'id' : task.id }) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
