{% extends 'layout.html.twig' %}

{% block header_img %}{% endblock %}

{% block header_title %}
    <h1 class="mt-4">Créer une nouvelle tâche</h1>
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    <a href="{{ path('task_list_todo') }}" class="btn btn-info pull-right">Tâches à faire</a>
{% endblock %}

{% block container %}
    <div class="row">
        {# Création de variables utilisées _pagination #}
        {% set path = 'task_list_todo' %}
        {% set pages = tasks.pages %}
        {% set currentPage = tasks.page %}
        {% include "_partials/_pagination.html.twig" %}
        {% for task in tasks.data %}

        <div class="col-sm-4 col-lg-4 col-md-4 mt-4">
            <div class="row" style="border: 1px solid black; border-radius: 5%; width: 430px;">
                <div class="col-12 text-center" style="background-color: #292929; border-radius: 5%; height: 100px;">
                    <a class="task-title" href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a>
                </div>
                <div style="padding: 15px">
                    {% if task.user is null %}
                        <div>
                            <p class="pull-right">Auteur : anonyme</p>
                        </div>
                    {% else %}
                        <div>
                            <p class="pull-right">Auteur : {{ task.user.username }}</p>
                        </div>
                    {% endif %}
                    <div>
                        <p class="pull-right">Ajouté le : {{ task.createdAt|date("d/m/Y") }}</p>
                    </div>
                    <p class="card-text">{{ task.content }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="{{ path('task_done_delete', {'id' : task.id }) }}">
                                <button class="btn btn-danger">Supprimer</button>
                            </form>
                        </div>
                        <form action="{{ path('task_toggle_done', {'id' : task.id }) }}">
                            <button class="btn btn-success pull-right">
                                {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
        {% include "_partials/_pagination.html.twig" %}
    </div>
{% endblock %}
