{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
        </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center justify-content-md-start">
        {% for task in tasks %}
            <div class="card text-bg-light m-3" style="width: 18rem;">
                <div class="card-body">
                    <p class="text-end">
                        {% if task.isDone %}
                            <i class="bi-check-circle text-success" style="font-size: 2rem;"></i>
                        {% else %}
                            <i class="bi-x-circle text-danger" style="font-size: 2rem;"></i>
                        {% endif %}
                    </p>
                    <h2 class="card-title">
                        <a href="{{ path('task_edit', {'id': task.id}) }}">{{ task.title }}</a>
                    </h2>
                    <p class="card-text">{{ task.content|slice(0, 150) }}...</p>
                    <form class="mb-3" action="{{ path('task_toggle', {'id': task.id}) }}">
                        <button class="btn btn-{% if not task.isDone %}success{% else%}warning{% endif%} btn-sm pull-right">
                            {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                        </button>
                    </form>
                    {% if app.user is same as (task.user) %}
                        <form action="{{ path('task_delete', {'id': task.id}) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                    {% endif %}
                    {% if task.user is same as (null) and is_granted('ROLE_ADMIN') %}
                        <form action="{{ path('task_delete', {'id': task.id}) }}">
                            <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
            </div>
        {% endfor %}
    </div>
{% endblock %}
