{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-info bg-opacity-25" role="navigation" >
        <div class="container">
            <a class="navbar-brand fs-3" href="#">To Do List app</a>
            <img src="{{ asset('build/images/Logo_OpenClassrooms.png') }}" alt="OpenClassrooms" />
            <button class="navbar-toggler" type"button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ms-auto">
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link mx-2 fs-5 text-black" aria-current="page" href="{{ path('homepage') }}">Acceuil</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link mx-2 fs-5 text-black" href="{{ path('user_create') }}#user-create">Créer un utilisateur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 fs-5 text-black" href="{{ path('user_list') }}">Utilisateurs</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link mx-2 fs-5 text-black" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    {% endif %}
                </ul>   
            </div>
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="d-flex justify-content-center">
                    {% for flash_message in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">
                            <strong>Superbe !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}

                    {% for flash_message in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Oops !</strong> {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>

                {% block header_img %}
                    <img class="col-12 slide-image mt-5" src="{{ asset('build/images/todolist_homepage.jpg') }}" alt="todo list">
                {% endblock %}

                {% block header_title %}{% endblock %}
            </div>
        </div><!-- /.row -->

        <div>
            {% block container %}{% endblock %}
        </div>

        <footer class="my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            </ul>
            <p class="text-center text-muted">Copyright &copy; OpenClassrooms</p>
        </footer>

    </div><!-- /.container -->
{% endblock %}