{% extends 'layout.html.twig' %}

{% block header_title %}
    <h1 id="user-modif" class="my-5">Modifier un utilisateur</h1>
{% endblock %}

{% block container %}
    <div class="d-flex justify-content-center">
        <div class="row">
            {{ form_start(form, {'action' : path('user_edit', {'id' : user.id})}) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <div id="passwordHelpBlock" class="form-text mb-4">
                    Votre mot de passe doit contenir au minimum 8 caractères</br>
                    des lettres avec minuscles et majuscules</br> 
                    des chiffres et caractères spéciaux.
                </div>
                {{ form_row(form.role) }}
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success mt-4">Modifier</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}